@{    
    ViewBag.Title = "Home Page";
}

<div id="content">
    <h3>Featured Products</h3>
    @*@Html.ActionLink("Add User", "AddUser", "Home")*@
</div>
<div class="row">
    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="..." src="~/Content/Images/image-best01.jpg">
            <div class="caption">
                <span class="book-name">Book Name</span>
                <span class="author">by John Smith</span>
                <span class="description">
                    Maecenas vehicula ante eu enim pharetra scelerisque dignissim sollicitudin nisi
                </span>
            </div>
            <div class="size-div">
                <div class="navbar-left left-bnt">
                    <a href="@Url.Action("DetailBook","DetailsBook")" class="btn buy-btn" role="button">BUY NOW</a>
                </div>
                <div class="navbar-left right-bnt">
                    <a href="@Url.Action("DetailBook","DetailsBook")" class="btn btn-primary price-bnt">$22</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="..." src="~/Content/Images/image-best01.jpg">
            <div class="caption">
                <span class="book-name">Book Name</span>
                <span class="author">by John Smith</span>
                <span class="description">
                    Maecenas vehicula ante eu enim pharetra scelerisque dignissim sollicitudin nisi
                </span>
            </div>
            <div class="size-div">
                <div class="navbar-left left-bnt">
                    <a href="@Url.Action("DetailBook","DetailsBook")" class="btn buy-btn" role="button">BUY NOW</a>
                </div>
                <div class="navbar-left right-bnt">
                    <a href="@Url.Action("DetailBook","DetailsBook")" class="btn btn-primary price-bnt">$22</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="..." src="~/Content/Images/image-best01.jpg">
            <div class="caption">
                <span class="book-name">Book Name</span>
                <span class="author">by John Smith</span>
                <span class="description">
                    Maecenas vehicula ante eu enim pharetra scelerisque dignissim sollicitudin nisi
                </span>
            </div>
            <div class="size-div">
                <div class="navbar-left left-bnt">
                    <a href="@Url.Action("DetailBook","DetailsBook")" class="btn buy-btn" role="button">BUY NOW</a>
                </div>
                <div class="navbar-left right-bnt">
                    <a href="@Url.Action("DetailBook","DetailsBook")" class="btn btn-primary price-bnt">$22</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="..." src="~/Content/Images/image-best01.jpg">
            <div class="caption">
                <span class="book-name">Book Name</span>
                <span class="author">by John Smith</span>
                <span class="description">
                    Maecenas vehicula ante eu enim pharetra scelerisque dignissim sollicitudin nisi
                </span>
            </div>
            <div class="size-div">
                <div class="navbar-left left-bnt">
                    <a href="@Url.Action("DetailBook","DetailsBook")" class="btn buy-btn" role="button">BUY NOW</a>
                </div>
                <div class="navbar-left right-bnt">
                    <a href="@Url.Action("DetailBook","DetailsBook")" class="btn btn-primary price-bnt">$22</a>
                </div>
                @*<div class="navbar-left" style="width:40%; background-color:violet"><a>$22</a></div>*@

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="..." src="~/Content/Images/image-best01.jpg">
            <div class="caption">
                <span class="book-name">Book Name</span>
                <span class="author">by John Smith</span>
                <span class="description">
                    Maecenas vehicula ante eu enim pharetra scelerisque dignissim sollicitudin nisi
                </span>
            </div>
            <div class="size-div">
                <div class="navbar-left left-bnt">
                    <a href="@Url.Action("DetailBook","DetailsBook")" class="btn buy-btn" role="button">BUY NOW</a>
                </div>
                <div class="navbar-left right-bnt">
                    <a href="@Url.Action("DetailBook","DetailsBook")" class="btn btn-primary price-bnt">$22</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="..." src="~/Content/Images/image-best01.jpg">
            <div class="caption">
                <span class="book-name">Book Name</span>
                <span class="author">by John Smith</span>
                <span class="description">
                    Maecenas vehicula ante eu enim pharetra scelerisque dignissim sollicitudin nisi
                </span>
            </div>
            <div class="size-div">
                <div class="navbar-left left-bnt">
                    <a href="@Url.Action("DetailBook","DetailsBook")" class="btn buy-btn" role="button">BUY NOW</a>
                </div>
                <div class="navbar-left right-bnt">
                    <a href="@Url.Action("DetailBook","DetailsBook")" class="btn btn-primary price-bnt">$22</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="..." src="~/Content/Images/image-best01.jpg">
            <div class="caption">
                <span class="book-name">Book Name</span>
                <span class="author">by John Smith</span>
                <span class="description">
                    Maecenas vehicula ante eu enim pharetra scelerisque dignissim sollicitudin nisi
                </span>
            </div>
            <div class="size-div">
                <div class="navbar-left left-bnt">
                    <a href="@Url.Action("DetailBook","DetailsBook")" class="btn buy-btn" role="button">BUY NOW</a>
                </div>
                <div class="navbar-left right-bnt">
                    <a href="@Url.Action("DetailBook","DetailsBook")" class="btn btn-primary price-bnt">$22</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="..." src="~/Content/Images/image-best01.jpg">
            <div class="caption">
                <span class="book-name">Book Name</span>
                <span class="author">by John Smith</span>
                <span class="description">
                    Maecenas vehicula ante eu enim pharetra scelerisque dignissim sollicitudin nisi
                </span>
            </div>
            <div class="size-div">
                <div class="navbar-left left-bnt">
                    <a href="@Url.Action("DetailBook","DetailsBook")" class="btn buy-btn" role="button">BUY NOW</a>
                </div>
                <div class="navbar-left right-bnt">
                    <a href="@Url.Action("DetailBook","DetailsBook")" class="btn btn-primary price-bnt">$22</a>
                </div>
            </div>
        </div>
    </div>
</div>
